<div>

    <!--TODO #7-->
    <p>Number a: <input type="number" ng-model="nmba"/></p>

    <p>Number b: <input type="number" ng-model="nmbb"/></p>


    <!--TODO Button for calculating values-->

    <div>
        <p>
            <a class="btn btn-primary btn-lg" role="button" ng-click="calculate()">calculate</a>
        </p>
    </div>


    <p> a + b = <span>{{op1}}</span></p>

    <p> a - b = <span>{{op2}}</span></p>

    <p> a * b = <span>{{op3}}</span></p>

    <p> a / b = <span>{{op4}}</span></p>

</div>